@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.root {
  margin: 0;
  padding: $paddingRoot;
  background-color: $backgroundColorMain;
  @include fadeInAnimationMain();
}
.contentWrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
