@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.root {
  margin: 0;
  padding: $paddingRoot/2 $paddingRoot;
  background-color: $backgroundColorMain;
  @include fadeInAnimationMain();
  @media (max-width: 700px) {
    padding: $paddingRoot / 2;
  }
}
.contentWrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
