$colorPrimary: rgba(0, 97, 188, 1);
$colorSecondary1: rgba(245, 192, 66, 1);
$colorSecondary2: #00a896;
$colorSecondary3: #02c39a;

$backgroundColorMain: rgba(245, 245, 245, 1);
$backgroundImgMain: url('https://content.app-sources.com/s/136720354663322521/uploads/Images/background3-5113520.png');
$paddingRoot: 40px;
