$colorBlueMain: #0162bc;
$backgroundColorMain: rgba(238, 239, 245, 1);
$backgroundImgMain: url('https://content.app-sources.com/s/136720354663322521/uploads/Images/background3-5113520.png');
$paddingRoot: 40px;
