$colorPrimary: rgba(0, 97, 188, 1);
$colorPrimaryHover: rgba(0, 90, 165);
$colorPrimaryRed: rgb(139, 0, 0);
$colorPrimaryRedHover: rgb(115, 0, 0);

$backgroundColorMain: rgba(245, 245, 245, 1);
$backgroundImgMain: url('https://content.app-sources.com/s/136720354663322521/uploads/Images/background3-5113520.png');
$paddingRoot: 40px;
