.tableGrid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  @media (max-width: 900px) {
    grid-template-columns: 25% 25% 25% 25%;
  }
  @media (max-width: 700px) {
    grid-template-columns: 34% 33% 33%;
  }
}
.tableCell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tableCellFlex {
  display: flex;
  align-items: center;
}
.hideOnSmallWidth1 {
  @media (max-width: 900px) {
    display: none;
  }
}
.hideOnSmallWidth2 {
  @media (max-width: 700px) {
    display: none;
  }
}
