@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.tableHeaderFixBackground {
  position: fixed;
  top: 0px;
  height: 40px;
  background-color: $backgroundColorMain;
  width: calc(100% - $paddingRoot * 2);
  @media (max-width: 700px) {
    width: calc(100% - $paddingRoot);
  }
}

.tableHeaderFix {
  position: fixed;
  top: 30px;
  width: calc(100% - $paddingRoot * 2);
  max-width: 1100px;
  // @include fadeInAnimationMain();
  @media (max-width: 700px) {
    width: calc(100% - $paddingRoot);
  }
}
.showHeaderFix {
  display: grid;
}
