@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.root {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  @include fadeInAnimationSecond();
}
.container {
  text-align: center;
  background-color: #fff;
  width: 70vw;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 60px;
  font-size: 30px;
  @media (max-width: 800px) {
    padding: 30px;
    font-size: 25px;
  }
}
.content {
  margin: 0 auto;
  max-width: 500px;
}
.timer {
  width: 40px;
  padding: 3px 5px;
  font-size: 20px;
  border-radius: 8px;
  margin-right: 60px;
  color: #fff;
  background-color: $colorPrimary;
}
.buttonBasic {
  @include buttonBasic();
  width: 160px;
}
.btnRed {
  @include btnRed();
}
.buttonDisabled {
  @include buttonDisabled();
}
