@import '../../styles/mixins.scss';

.root {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  @include fadeInAnimationSecond();
}
.container {
  text-align: center;
  background-color: #fff;
  width: 70vw;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 60px;
  font-size: 30px;
  @media (max-width: 800px) {
    padding: 30px;
    font-size: 25px;
  }
}
