@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.root {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  @include fadeInAnimationMain();
}
.container {
  background-color: #fff;
  width: 70vw;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 30px 25px 30px;
}
.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
  color: $colorPrimary;
}
.inputGrid {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-around;
  @media (max-width: 800px) {
    display: inline;
  }
}
.input {
  width: 100%;
  margin: 8px 0;
  border-radius: 5px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 1.1em;
  color: #2f2f2f;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  box-shadow: inset 0px 0px 2px 1px rgb(0, 0, 0);
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.buttonGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: 'space-around';
}
.buttonBasic {
  @include buttonBasic();
  margin-top: 14px;
}
.btnRed {
  @include btnRed();
}
.buttonDisabled {
  @include buttonDisabled();
}
