@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  background-color: $colorPrimary;
  color: #fff;
  border-radius: 5px;
  width: 70px;
  top: 54px;
  right: calc(50% - 520px);
  cursor: pointer;
  // transition: 0.3s ease;
  &:hover {
    background-color: $colorPrimaryHover;
  }
  @media (max-width: 1200px) {
    right: 60px;
  }
  @media (max-width: 800px) {
    width: 50px;
  }
  @media (max-width: 700px) {
    right: 20px;
    top: 40px;
  }
}
.addRowText {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
.buttonDownLeft {
  top: unset;
  right: unset;
  left: 30px;
  bottom: 20px;
  font-size: 286px;
  padding: 10px 20px;
  @media (min-width: 1000px) {
    left: calc(50% - 520px);
  }
  @media (max-width: 1200px) {
    left: 60px;
  }
  @media (max-width: 700px) {
    left: 40px;
  }
}
.buttonDownLeftP {
  font-size: 18px;
}
.hideRow {
  @media (max-width: 800px) {
    display: none;
  }
}
.deleteBtn {
  top: 54px;
  right: calc(50% - 420px);
  background-color: $colorPrimaryRed;
  &:hover {
    background-color: $colorPrimaryRedHover;
  }
  @media (max-width: 1200px) {
    right: 160px;
  }
  @media (max-width: 800px) {
    width: 50px;
    right: 140px;
  }
  @media (max-width: 700px) {
    right: 130px;
    top: 40px;
  }
  @media (max-width: 520px) {
    right: 20px;
    top: 75px;
  }
}
.buttonDisabled {
  @include buttonDisabled();
}
